body{
	background-image: url("images/mountain.jpg"); 
	background-position: ;
	font-family: Algerian ;
	color: white	;
	font-size: 20px ;
	line-height: 1.7em ;
	margin: 0 ;
	padding: 0 ;
}
	
